[Unit]
Description=prom_aggregation_gateway
After=network-online.target

[Service]
Type=simple
ExecStart={{ prom_aggregation_gateway_binary }} --listen {{ prom_aggregation_gateway_listen_addr }}

[Install]
WantedBy=multi-user.target
