#
# {{ ansible_managed }}
#
#
#https://github.com/atongen/prometheus-pgbouncer-exporter/


# The host on which the exporter should listen to (defaults to 127.0.0.1)
host: {{ pgbouncer_exporter_host }}

# The port on which the exporter should listen to (defaults to 9100)
port: {{ pgbouncer_exporter_port }} 

# Port to connect to pgbouncer
pgbouncer-port = 6432

# User to connect to pgbouncer with
pgbouncer-user = postgres

# Host on which to connect to pgbouncer, default is to connect to via a socket
# to the local machine
#pgbouncer-host =

# Databases to report metrics for, if this is not specified, all metrics will
# be reported. For example, if you want to export data from the pgbouncer and
# test databases:
#database = [pgbouncer, test]
