server {
        listen 80 default_server;
        listen [::]:80 default_server;

        root /var/www/html;

        # Add index.php to the list if you are using PHP
        index index.html index.htm index.nginx-debian.html;

        server_name _;

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ =404;
        }

        location /grafana/ {
                proxy_pass {{ grafana_external_url | default('http://localhost:3000/') }};

        }

       location /prometheus/ {
                proxy_pass {{ prometheus_external_url | default('http://localhost:9090/prometheus/') }};
      }

      location /alerts/ {
                proxy_pass {{ alertmanager_external_url | default('http://localhost:9093/alertmanager/') }};

      }

}
