[
  {
    "targets": ["{{ hostvars[groups.celery.0].alt_hostname | default(hostvars[groups.celery.0].hostname) }}:9188"],
    "labels": {
      "job": "celery_exporter",
      "environment": "{{ prometheus_monitoring_env }}",
      "service": "celery"
    }
  }
]

