[
  {
    "targets": [
      {%- for item in groups.citusdb -%}
      {% if not loop.last %}
      "{{ hostvars[item].alt_hostname | default(hostvars[item].hostname) }}:9187",
      {% else %}
      "{{ hostvars[item].alt_hostname }}:9187"
      {% endif %}
      {%- endfor -%} 
    ],
    "labels": {
      "job": "postgres_exporter"
    }
  }
]

