[
  {
    "targets": [
      {%- for item in groups.elasticsearch -%}
      "{{ hostvars[item].alt_hostname | default(hostvars[item].hostname) }}:9108"{% if not loop.last %},{% endif %}
      {%- endfor -%} 
    ],
    "labels": {
      "job": "elasticsearch_exporter",
      "service": "elasticsearch"
    }
  }
]

