[
  {
    "targets": [
      {%- for item in groups.couchdb2_proxy -%}
      {% if not loop.last %}
      "{{ hostvars[item].alt_hostname | default(hostvars[item].hostname) }}:9101",
      {% else %}
      "{{ hostvars[item].alt_hostname }}:9101"
      {% endif %}
      {%- endfor -%} 
    ],
    "labels": {
      "job": "haproxy_exporter",
      "service": "couchdb2_proxy"
    }
  }
]

