[
  {
    "targets": [
      {%- for item in groups.couchdb2_proxy|sort -%}
      "{{ hostvars[item].alt_hostname | default(hostvars[item].hostname) }}:9101"{% if not loop.last %},{% endif %}
      {%- endfor -%} 
    ],
    "labels": {
      "job": "haproxy_exporter",
      "environment": "{{ prometheus_monitoring_env }}",
      "service": "couchdb2_proxy"
    }
  }
]

