[
  {
    "targets": [
      {%- for item in groups.kafka -%}
      "{{ hostvars[item].alt_hostname | default(hostvars[item].hostname) }}:9308"{% if not loop.last %},{% endif %}
      {%- endfor -%} 
    ],
    "labels": {
      "job": "kafka_exporter",
      "service": "kafka"
    }
  }
]

