[
  {
    "targets": [
      {%- for item in groups.proxy -%}
      "{{ hostvars[item].alt_hostname | default(hostvars[item].hostname) }}:9113"{% if not loop.last %},{% endif %}
      {%- endfor -%} 
    ],
    "labels": {
      "job": "nginx_exporter",
      "service": "proxy"
    }
  }
]

