[
  {
    "targets": [
      {%- for item in groups.all|sort -%}
      "{{ hostvars[item].alt_hostname | default(hostvars[item].hostname) }}:9100"{% if not loop.last %},{% endif %}
      {%- endfor -%} 
    ],
    "labels": {
      "job": "node_exporter",
      "environment": "{{ prometheus_monitoring_env }}"
    }
  }
]

