[
  {
    "targets": [
      {%- for item in groups.postgresql -%}
      "{{ hostvars[item].alt_hostname | default(hostvars[item].hostname) }}:9132"{% if not loop.last %},{% endif %}
      {%- endfor -%} 
    ],
    "labels": {
      "job": "pgbouncer_exporter",
      "service": "pgbouncer"
    }
  },

  {
    "targets": [
      {%- for item in groups.pg_standby -%}
      "{{ hostvars[item].alt_hostname | default(hostvars[item].hostname) }}:9132"{% if not loop.last %},{% endif %}
      {%- endfor -%} 
    ],
    "labels": {
      "job": "pgbouncer_exporter",
      "service": "pgbouncer"
    }
  }
]

