[
  {
    "targets": [
      {%- for item in groups.rabbitmq -%}
      "{{ hostvars[item].alt_hostname | default(hostvars[item].hostname) }}:9419"{% if not loop.last %},{% endif %}
      {%- endfor -%} 
    ],
    "labels": {
      "job": "rabbitmq_exporter",
      "service": "rabbitmq"
    }
  }
]

