[
  {
    "targets": [
      {%- for item in groups.redis -%}
      "{{ hostvars[item].alt_hostname | default(hostvars[item].hostname) }}:9121"{% if not loop.last %},{% endif %}
      {%- endfor -%} 
    ],
    "labels": {
      "job": "redis_exporter",
      "service": "logproxy"
    }
  }
]

