[
  {
    "targets": [
      {%- for item in groups.logproxy -%}
      {% if not loop.last %}
      "{{ hostvars[item].alt_hostname | default(hostvars[item].hostname) }}:9125",
      {% else %}
      "{{ hostvars[item].alt_hostname }}:9125"
      {% endif %}
      {%- endfor -%} 
    ],
    "labels": {
      "job": "statsd_exporter"
    }
  }
]

