[
  {
    "targets": [
      {%- for item in groups.logproxy|sort -%}
      "{{ hostvars[item].alt_hostname | default(hostvars[item].hostname) }}:9102"{% if not loop.last %},{% endif %}
      {%- endfor -%} 
    ],
    "labels": {
      "job": "statsd_exporter",
      "environment": "{{ prometheus_monitoring_env }}",
      "service": "logproxy"
    }
  }
]
