[
  {
    "targets": [
      {%- for item in groups.logproxy -%}
      "{{ hostvars[item].alt_hostname | default(hostvars[item].hostname) }}:9125"{% if not loop.last %},{% endif %}
      {%- endfor -%} 
    ],
    "labels": {
      "job": "statsd_exporter"
    }
  }
]

