[Unit]
Description=Zookeeper Exporter
After=network.target

[Service]
ExecStart={{ zookeeper_exporter_binary }} -listen "{{ zookeeper_exporter_listen_address }}" -zk-host "{{ zookeeper_host }}" -zk-port "{{ zookeeper_port }}"

[Install]
WantedBy=multi-user.target
