[Unit]
Description=Zookeeper Exporter
After=network.target

[Service]
ExecStart={{ zookeeper_exporter_binary }} -listen "{{ zookeeper_exporter_listen_address }}" -zk-hosts "{{ zookeeper_host }}:{{ zookeeper_port }}"

[Install]
WantedBy=multi-user.target
