#
#{{ansible_managed}}
#

global:
  evaluation_interval: 30s
  scrape_interval: 20s
  scrape_timeout: 20s

  external_labels:
    environment: {{ prometheus_monitoring_env }} 

rule_files:
  - /etc/prometheus/rules/*.rules

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    metrics_path: /prometheus/metrics
    static_configs:
      - targets: ['localhost:9090']
        labels:
          environment: {{ prometheus_monitoring_env }}
{% if prometheus_http_probe_urls is defined %}      
  - job_name: blackbox
    metrics_path: /probe
    params:
      module: [http_prometheus]
    static_configs:
      - targets:
{%- for url in prometheus_http_probe_urls %}        
         - {{ url }}
{% endfor %}
        labels:
          environment: {{ prometheus_monitoring_env }}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ ansible_default_ipv4.address }}:9115
{% endif %}        
  - job_name: 'dummy' # it's mandatory
    file_sd_configs:
      - files:
        - /etc/prometheus/file_sd/*.json

    relabel_configs:
      - source_labels: ['__address__']
        separator:     ':'
        regex:         '(.*):.*'
        target_label:  'instance'
        replacement:   '${1}'
{% if prometheus_federation_endpoints is defined %}
  - job_name: 'federate'
    scrape_interval: 15s
    honor_labels: true
    metrics_path: '/prometheus/federate'
    params:
      match[]:
      - '{__name__=~".+"}' #scrape everything
    static_configs:
      - targets:
{% for item in prometheus_federation_endpoints %}
        - '{{ item }}'
{% endfor %}
{% endif %}

{% if 'alertmanager' in group_names %}
alerting:
  alertmanagers:
    - scheme: http
      path_prefix: /alertmanager
      static_configs:
        - targets:
{% for host in groups['alertmanager'] %}
            - '{{ host }}:9093'
{% endfor %}
{% endif %}

