[Unit]
Description=Airlfow Node Exporter
After=network-online.target

[Service]
Type=simple

Environment=AIRFLOW_PROMETHEUS_LISTEN_ADDR={{ airflow_prometheus_listen_addr }}
Environment=AIRFLOW_PROMETHEUS_DATABASE_BACKEND={{ airflow_prometheus_database_backend }}
Environment=AIRFLOW_PROMETHEUS_DATABASE_HOST={{ airflow_prometheus_database_host }}
Environment=AIRFLOW_PROMETHEUS_DATABASE_PORT={{ airfow_prometheus_database_port }}
Environment=AIRFLOW_PROMETHEUS_DATABASE_USER={{ airflow_prometheus_database_user }}
Environment=AIRFLOW_PROMETHEUS_DATABASE_PASSWORD={{ airflow_prometheus_databse_password }}
Environment=AIRFLOW_PROMETHEUS_DATABASE_NAME={{ airflow_prometheus_databse_name }}

ExecStart={{ airflow_exporter_binary }}

[Install]
WantedBy=multi-user.target
